#content {
    background-color: #FFFFFF;
    bottom: 0;
    margin-top: 10px;
    height: 93vh;
}

:focus {
    outline: 0 !important;
}

.btn-custom {
    font-size: 1.5rem;
    border: solid 1px #005984;
    border-radius: 10%;
}

.active-country {
    padding: 10px 20px;
}

/* .btn {
    font-size: 1.5rem;
}

.btn-outline-primary {
    color: #005984 ;
}

.btn-outline-primary:hover {
    background-color: white;
}

.btn.btn-outline-primary.btn-custom:hover {
    color: #00AEEF;
} */

.navbar-dark .navbar-toggler {
    border: none;
}

.map_frame {
    width: 100%;
    height: 100%;
    border: none;
}

#nav-countries {
    font-family: 'Proxima N W01 Light', 'Open Sans', Corbel, Arial, sans-serif;
    background-color: #FAFAFA;
    min-height: 50px;
    font-size: 1.75rem;
    padding: 10px 20px;
}

#nav-countries a {
    color: #005984;
    text-decoration: none;

}

#nav-countries .active {
    color: #00AEEF;
}

.nav-map {
    /* float: right; */
    text-align: left;
    font-family: 'Proxima N W01 Light', 'Open Sans', Corbel, Arial, sans-serif;
    font-size: 1.1rem;
}

.btn {
    background-color: #FAFAFA;
}

.btn:hover {
    color: #005984;
    background-color: #FAFAFA;
}

a:hover {
    text-decoration: none;
    color: #FAFAFA;
}

.nav-map a {
    color: #005984;
    display: block;
    padding: 0 1rem;
}

.nav-map .mapinit {
    color: #00AEEF;
}

.navbar {
    background-color: #FAFAFA;
}

.navbar-nav>li {
    padding: 0;
}