#content {
    background-color: #FFFFFF;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 93vh;
}

:focus {
    outline: 0 !important;
}


.btn-country {
    background-color: #FAFAFA;
    border: solid 2px WHITE;
    color: #005984;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.map_frame {
    width: 100%;
    height: 100%;
    border: none;
}

#nav-countries {
    font-family: 'Proxima N W01 Light', 'Open Sans', Corbel, Arial, sans-serif;
    background-color: #FAFAFA;
    min-height: 50px;
    display: grid;
    padding: 5px 5px;
    font-size: 1.4rem;
}

#nav-countries a {
    color: #005984;
    text-decoration: none;

}

#nav-countries .active {
    color: #00AEEF;
}

.nav-map {
    text-align: left;
    font-family: 'Proxima N W01 Light', 'Open Sans', Corbel, Arial, sans-serif;
    font-size: 1.1rem;
    margin-bottom: 2.5px;
    font-size: 1.2rem;
}

.btn {
    background-color: #FAFAFA;
}

.btn:hover {
    color: #005984;
    background-color: #FAFAFA;
}

a:hover {
    text-decoration: none;
    color: #FAFAFA;
}

.nav-map a {
    color: #005984;
    display: block;
    padding: 0.2rem 1rem;
}

.nav-map .mapinit {
    color: #00AEEF;
}

.navbar {
    background-color: #FAFAFA;
}

.navbar-nav>li {
    padding: 0;
}

@media(min-width: 750px) {
    .nav-map {
        font-size: 1.2rem;
    }
}

@media(max-width: 320px) {
    .nav-map {
        font-size: .8rem;
        margin-bottom: 2.5px;
    }
}

@media(min-width: 750px) {
    #nav-countries {
        display: inherit;
        font-size: 1.75rem;
        padding: 0px 20px;
    }
}

@media(max-width: 320px) {
    #nav-countries {
        font-size: .9rem;
        margin-bottom: 2.5px;
    }
}

@media(min-width: 750px) {
    .navbar-nav {
        flex-direction: inherit;
    }
}



/* * {
    background: #000 !important;

    color: #0f0 !important;

    outline: solid #f00 1px !important;
} */